.esk-container {
  --badge-font-weight: var(--bold-font-weight);
  --badge-padding-y: 6px;
  --badge-padding-x: 9px;
  --badge-border-radius: 3px;
  --badge-color: #fff;
  --badge-background-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
}
