*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

// Allows the footer to stick to the bottom of the page if the content does not reach that far.
html,
body,
body > div.ember-view {
  height: 100%;
}

body {
  background-color: var(--body-background-color);
  margin: 0;
  padding: 0;
}

.wrapper {
  padding-top: var(--header-height);
}
