footer {
  background: var(--footer-background-colour);
  width: 100% !important;
  padding: var(--spacer-lg) var(--spacer-xxl);
  display: flex;

  ul {
    font-size: 1em;
    margin: 0;
    padding: 0px 0;
    display: flex;
    li {
      list-style: none;
      text-align: center;
      color: var(--footer-info-color);
      font-style: var(--footer-info-font-style);
      font-weight: var(--footer-info-font-weight);
      font-family: var(--footer-info-font-family);
      text-transform: var(--footer-info-text-transform);
      font-size: calc(var(--footer-info-font-size) * var(--rem-adjustment));

      &:not(:last-child) {
        margin-right: 15px;
      }

      a {
        color: var(--footer-info-link-color);
        text-decoration: var(--footer-info-link-text-decoration);
        font-weight: 300;
      }

      a:hover {
        color: var(--footer-info-link-hover-color);
        text-decoration: var(--footer-info-link-hover-text-decoration);
      }
    }
  }
}

.panel-layout footer {
  justify-content: center;
}
