.ember-skeleton-container.sidebar-layout {
  background-color: #f6f6f6;
  height: 100%;

  &.sidebar-toggled {
    transition: var(--sidebar-toggle-transition);
  }

  &.text-column .body-text {
    max-width: 660px;
  }

  div.sidebar-layout-top-bar {
    height: var(--sidebar-layout-top-bar-height);
    position: fixed;
    width: 100%;
    top: var(--header-height);
    z-index: var(--sidebar-layout-top-bar-z-index);
    @include box-shadow(bottom);
  }

  &.content-header div.main.top-bar-active {
    padding-top: var(--sidebar-layout-top-bar-height);
  }

  #columns {
    height: 100%;
    overflow: hidden;
    margin: 0px;
    display: flex;
    .ember-skeleton-sidebar {
      height: 100%;
      flex-shrink: 0;
      min-width: var(--sidebar-expanded-min-width);
      max-width: var(--sidebar-expanded-width);
      overflow: hidden;
      background: var(--sidebar-background);
      display: flex;
      flex-direction: column;
      .sidebar-toggle {
        background: var(--sidebar-toggle-menu-background);
        height: var(--sidebar-toggle-menu-list-item-height);
        border-width: 0;
        border-bottom: 1px solid #666;
        .sidebar-collapse-icon {
          width: var(--sidebar-collapsed-width);
          svg {
            height: 18px;
            fill: var(--sidebar-nav-item-color);
          }
        }
      }

      &.sidebar-collapsed {
        min-width: 0;
        max-width: var(--sidebar-collapsed-width);
        .sidebar-collapse-icon {
          transform: rotate(180deg);
        }
      }

      &.sidebar-toggled {
        transition: var(--sidebar-toggle-transition);
      }
      .top-row {
        flex-shrink: 0;
      }
    }
    .main {
      height: 100%;
      width: 100%;
      position: relative;
      box-shadow: inset 10px 0px 6px -6px rgba(0, 0, 0, 0.2);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    .main-content {
      flex-grow: 1;
      position: relative;
      .content-body {
        display: inline-flex;
        flex-direction: column;
        max-width: 100%;
      }
    }

    .main-nav .bottom-row {
      overflow: hidden;
      height: 100%;
    }
  }
}
