:root {
  // BEGIN-SNIPPET overriding-default-scss-vars.scss
  $page-header-font-size: 3em;
  $page-header-color: #0097d3;

  @import 'ember-skeleton-variables';
  @import 'ember-skeleton';
  // END-SNIPPET

  // BEGIN-SNIPPET default-spacers.scss
  --spacer-sm: 3px;
  --spacer-md: 6px;
  --spacer-lg: 12px;
  --spacer-xl: 24px;
  --spacer-xxl: 36px;
  // END-SNIPPET

  // BEGIN-SNIPPET text-column-variables.scss
  --text-column-line-height: 150%;
  --text-column-max-width: 700px;
  --text-column-justify-paragraph-min-width: 480px;
  // END-SNIPPET

  // BEGIN-SNIPPET default-bootstrap-colours.scss
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --gray-extra-light: #f3f3f3;
  --gray-light: #cccccc;
  --gray-medium: #999999;
  --gray-dark: #333333;
  --white: #ffffff;

  --primary: var(--blue);
  --secondary: var(--indigo);
  --success: var(--green);
  --info: var(--cyan);
  --warning: var(--orange);
  --danger: var(--red);
  --light: var(--gray-light);
  --dark: var(--gray-dark);

  $theme-colors: ();
  $theme-colors: map-merge(
    (
      'primary': --primary,
      'secondary': --secondary,
      'success': --success,
      'info': --info,
      'warning': --warning,
      'danger': --danger,
      'light': --light,
      'dark': --dark,
      'gray-extra-light': --gray-extra-light,
      'gray-light': --gray-light,
      'gray-medium': --gray-medium,
      'gray-dark': --gray-dark,
      'white': --white,
    ),
    $theme-colors
  );
  // END-SNIPPET
}
