@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: var(#{$value}) !important;
    &.text-yiq {
      color: var(#{color-yiq($value)});
    }
    .fill-yiq {
      fill: var(#{color-yiq($value)});
    }
  }

  a.bg-#{$color},
  button.bg-#{$color} {
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):focus {
      background-color: var(#{$value}-mildly-dark) !important;
    }
  }
}

.bg-transparent {
  background-color: transparent !important;
}
