.btn {
  font-size: calc(var(--button-font-size) * var(--rem-adjustment));
  letter-spacing: var(--button-letter-spacing);
  text-transform: var(--button-text-transform);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: var(--button-border-width) solid transparent;
  border-radius: var(--button-border-radius);
  height: var(--button-height);
  padding: 0 var(--button-padding-x);
  text-decoration: none;
  color: var(--button-color);
  border-color: var(--button-border-color);
  background: var(--button-background-color);
  &:hover:not(:disabled):not(.disabled) {
    color: var(--button-hover-color);
    background: var(--button-hover-background-color);
    border-color: var(--button-hover-background-color);
  }
  &:focus,
  &.focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    outline: 0;
    background: var(--button-hover-background-color);
    border-color: var(--button-hover-background-color);
    box-shadow: 0 0 0 3px var(--button-focus-box-shadow-color);
  }
  &.disabled,
  &:disabled {
    opacity: 0.5;
  }
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  .spin {
    text-align: left;
  }

  svg {
    margin-right: var(--spacer-md);
    vertical-align: middle;
    height: var(--spacer-lg);
    width: auto;
    fill: var(--button-svg-fill);
    &.button-right {
      margin-right: 0;
      margin-left: var(--spacer-md);
    }
    &.tick {
      width: 22px;
    }
  }
  &.btn-lg {
    height: calc(var(--button-height) + 10px);
    svg {
      height: calc(var(--spacer-lg) + var(--spacer-md));
    }
  }

  &.btn-sm {
    height: calc(var(--button-height) - 10px);
  }

  &.btn-block {
    display: flex;
    width: 100%;
    // Vertically space out multiple block buttons
    + .btn-block {
      margin-top: 15px;
    }
  }
  &.btn-lc {
    text-transform: none;
    letter-spacing: 0;
  }
  .spinner:not(.on) {
    display: none;
  }
  &.flashing {
    animation: btn-flashing 3s infinite;
    -webkit-animation: btn-flashing 3s infinite;
    svg {
      animation: btn-flashing-svg 3s infinite;
      -webkit-animation: btn-flashing-svg 3s infinite;
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-content {
  padding: 0;
  background: transparent;
  border-width: 0;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  &:focus,
  &:active {
    outline: none;
  }
}

// Button colours
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    --button-background-color: var(#{$value});
    --button-hover-background-color: var(#{$value}-dark);
    --button-color: var(#{color-yiq($value)});
    --button-border-color: var(#{$value});
    --button-focus-box-shadow-color: var(#{$value}-light);
    --button-svg-fill: var(--button-color);
    cursor: pointer;
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    --button-background-color: var(--button-outline-background-color);
    --button-hover-background-color: var(#{$value});
    --button-color: var(#{$value});
    --button-border-color: var(#{$value});
    --button-focus-box-shadow-color: var(#{$value}-light);
    --button-hover-color: var(#{color-yiq($value)});
    --button-svg-fill: var(--button-color);
  }
}

.btn-outline-white {
  background: transparent;
  color: #fff;
  border-color: #fff;
}

// Make a button look and behave like a link
.btn-link {
  --button-background-color: transparent;
  --button-border-color: transparent;
  --button-hover-background-color: transparent;
  --button-hover-border-color: transparent;
  --button-color: var(--link-color);
  --button-font-weight: var(--link-font-weight);
  text-transform: none;
  letter-spacing: initial;
  &:hover {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-text-decoration);
  }

  &:focus,
  &.focus {
    text-decoration: var(--link-hover-text-decoration);
    border-color: transparent;
  }

  &:disabled,
  &.disabled {
    opacity: 1;
    color: var(--button-link-disabled-color);
  }
}

.close-button {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-width: 0;
}
.close-button svg {
  height: 18px;
  width: 18px;
  padding: 3px;
  fill: #bbb;
  margin-right: 0;
}

.close-button:hover {
  cursor: pointer;
  background: #bbb;
}
.close-button:hover svg {
  fill: #fff;
}

// Specificity overrides
input[type='submit'],
input[type='reset'],
input[type='button'] {
  &.btn-block {
    width: 100%;
  }
}
@keyframes btn-flashing {
  0% {
    background-color: var(--button-background-color);
    color: var(--button-color);
  }
  50% {
    background-color: var(--button-color);
    color: var(--button-background-color);
  }
  100% {
    background-color: var(--button-background-color);
    color: var(--button-color);
  }
}

@-webkit-keyframes btn-flashing {
  0% {
    background-color: var(--button-background-color);
    color: var(--button-color);
  }
  50% {
    background-color: var(--button-color);
    color: var(--button-background-color);
  }
  100% {
    background-color: var(--button-background-color);
    color: var(--button-color);
  }
}

@keyframes btn-flashing-svg {
  0% {
    fill: var(--button-color);
  }
  50% {
    fill: var(--button-background-color);
  }
  100% {
    fill: var(--button-color);
  }
}

@-webkit-keyframes btn-flashing-svg {
  0% {
    fill: var(--button-color);
  }
  50% {
    fill: var(--button-background-color);
  }
  100% {
    fill: var(--button-color);
  }
}
