.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  color: var(--list-group-color);
  padding: var(--list-group-item-padding-y) var(--list-group-item-padding-x);
  margin-bottom: -var(--list-group-border-width);
  background-color: var(--list-group-bg);
  border: var(--list-group-border-width) solid var(--list-group-border-color);
  &:hover,
  &:focus {
    z-index: 1;
    text-decoration: none;
  }

  &.disabled,
  &:disabled {
    color: var(--list-group-disabled-color);
    background-color: var(--list-group-disabled-bg);
    border-color: var(--list-group-disabled-bg-darker);
  }

  &.active {
    z-index: 2;
    color: var(--list-group-active-color);
    background-color: var(--list-group-active-bg);
    border-color: var(--list-group-active-border-color);
  }
}

.list-group-item-action {
  width: 100%;
  text-align: inherit;
  &:hover,
  &:focus {
    --list-group-color: var(--list-group-action-hover-color);
    text-decoration: none;
    --list-group-background-color: var(--list-group-action-hover-bg);
  }
  &.disabled {
    cursor: not-allowed;
  }

  &:active {
    color: var(--list-group-active-color);
    background-color: var(--list-group-active-bg);
  }
}

.list-group-flush {
  > .list-group-item {
    margin-bottom: 0;
    border-width: 0 0 var(--list-group-border-width);
    &:last-child {
      border-bottom-width: 0;
    }
  }
}

.list-group-item-header {
  font-weight: var(--list-group-header-font-weight);
}

@each $color, $value in $theme-colors {
  .list-group-item-#{$color} {
    --list-group-color: var(#{$value}-extra-dark);
    --list-group-bg: var(#{$value}-mildly-light);
    --list-group-border-color: var(#{$value}-extra-dark);
    &.list-group-item-action {
      &:hover,
      &:focus,
      &.active,
      &:active {
        --list-group-bg: var(#{$value}-light);
      }
      &.disabled,
      &:disabled {
        --list-group-color: var(--list-group-disabled-color);
        --list-group-bg: var(--list-group-disabled-bg);
        --list-group-border-color: var(--list-group-disabled-bg-darker);
      }
    }
  }
  .list-group-item-header-#{$color} {
    // --list-group-color: var(color-yiq(#{$value}));
    --list-group-bg: var(#{$value}-light);
    --list-group-border-color: var(#{$value}-dark);
  }
}
