@each $color, $value in $theme-colors {
  .fill-#{$color} {
    fill: var(#{$value});
  }

  .hover-fill-#{$color}:hover {
    fill: var(#{$value});
  }

  .stroke-#{$color} {
    stroke: var(#{$value});
  }
}

.foreground-graphic {
  fill: var(--svg-foreground-graphic-fill);
  stroke: var(--svg-foreground-graphic-stroke-color);
}
