@use 'sass:math';

body {
  font-size: 62.5%;
  color: var(--body-color);
  font-family: var(--main-font-family);
}

.page-header {
  color: var(--page-header-color);
  font-size: calc(var(--page-header-font-size) * var(--rem-adjustment));
  text-transform: var(--page-header-text-transform);
  text-align: var(--page-header-text-align);
  font-family: var(--page-header-font-family);
  font-weight: var(--page-header-font-weight);
  line-height: var(--page-header-line-height);
  margin-top: 0;
  margin-bottom: var(--page-header-margin-bottom);
}

a,
.faux-link {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  font-weight: var(--link-font-weight);
  &:hover {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-text-decoration);
    cursor: pointer;
  }
  &.no-underline,
  &.no-underline:hover {
    text-decoration: none;
  }
}

p {
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--body-text-header-color);
  text-transform: var(--body-text-header-text-transform);
  font-family: var(--body-text-header-font-family);
  font-weight: var(--body-text-header-font-weight);
  font-style: var(--body-text-header-font-style);
  margin-top: 0;
  line-height: 150%;
  padding: 0;
  background-color: transparent;
}
h1 {
  font-size: calc(var(--body-text-header-h1-font-size) * var(--rem-adjustment));
}
h2 {
  font-size: calc(var(--body-text-header-h2-font-size) * var(--rem-adjustment));
}
h3 {
  font-size: calc(var(--body-text-header-h3-font-size) * var(--rem-adjustment));
}
h4 {
  font-size: calc(var(--body-text-header-h4-font-size) * var(--rem-adjustment));
}

.body-text {
  .body-text {
    font-size: 1em;
  }
  color: var(--body-text-color);
  font-family: var(--main-font-family);
  font-style: var(--body-text-font-style);
  font-size: calc(var(--body-text-font-size) * var(--rem-adjustment));
  font-weight: var(--body-text-font-weight);

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: var(--body-text-header-margin-bottom);
  }

  h1 {
    font-size: calc(
      var(--body-text-header-h1-font-size) * var(--rem-adjustment)
    );
  }
  h2 {
    font-size: calc(
      var(--body-text-header-h2-font-size) * var(--rem-adjustment)
    );
  }
  h3 {
    font-size: calc(
      var(--body-text-header-h3-font-size) * var(--rem-adjustment)
    );
  }
  h4 {
    font-size: calc(
      var(--body-text-header-h4-font-size) * var(--rem-adjustment)
    );
  }
  p {
    margin-bottom: var(--body-text-paragraph-space-after);
  }
  p,
  dd,
  dt,
  ul li,
  ol li {
    line-height: var(--body-text-line-height);
  }
  ul,
  ol {
    margin-bottom: var(--body-text-paragraph-space-after);
    padding: 0px;
  }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0;
  }
  ul li,
  ol li {
    font-family: var(--main-font-family);
    margin-left: 1em;
    padding-left: 0.5em;
  }
  sup,
  sub {
    font-size: 0.7em;
  }
}

.text-larger {
  font-size: calc(var(--text-larger-size) * var(--rem-adjustment));
}

.text-bold {
  font-weight: var(--bold-font-weight);
}

.text-smaller {
  font-size: calc(var(--text-smaller-size) * var(--rem-adjustment));
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.text-column {
  max-width: var(--text-column-max-width);
  line-height: var(--text-column-line-height);
  @if var(--text-column-justify-paragraph-min-width) {
    @media (min-width: var(--text-column-justify-paragraph-min-width)) {
      p {
        text-align: justify;
      }
    }
  }
}

.monospace {
  font-family: --monospace-font-family !important;
}

.list-style-none,
.body-text .list-style-none {
  list-style: none;
  li {
    padding-left: 0;
    margin-left: 0;
  }
}

@each $color, $value in $theme-colors {
  .text-#{$color} {
    color: var(#{$value});

    a {
      &:not(:disabled):not(.disabled):hover,
      &:not(:disabled):not(.disabled):focus {
        color: var(#{$value}-extra-dark) !important;
      }
    }
  }

  a.text-#{$color} {
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):focus {
      color: var(#{$value}-extra-dark) !important;
    }
  }
}
