@use 'sass:list';

@function color-yiq($color) {
  @debug '-------------------------------------------';
  // $color-name: extract-before($color, '-darken');
  $color-modifier: extract-after($color, '--primary');
  // @debug $color-name;
  @debug $color-modifier;
  @if (list.index($yiq-light-text, $color)) {
    @return --yiq-text-light;
  } @else {
    @return --yiq-text-dark;
  }
}

@function extract-before($string, $extract-before) {
  $index: str-index($string, $extract-before);
  @if $index {
    @return str-slice($string, 1, $index - 1);
  }
  @return $string;
}

@function extract-after($string, $extract-after) {
  $index: str-index($string, $extract-after);
  @debug $string;
  @debug $extract-after;
  @debug $index;
  @if $index {
    @return str-slice($string, $index + str-length($extract-after));
  }

  @return $string;
}

// Retrieve color Sass maps
@function color($key: 'blue') {
  @return map-get($colors, $key);
}

@function theme-color($key: 'primary') {
  @return map-get($theme-colors, $key);
}

// Request a theme color level
@function theme-color-level($color-name: 'primary', $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, #000, #fff);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}

@function chain-selectors($selectors) {
  $chain: '';
  @each $selector in $selectors {
    $chain: $chain + $selector + ',';
  }
  @return $chain;
}
