:root {
  --alert-padding-y: var(--spacer-lg);
  --alert-padding-x: var(--spacer-lg);
  --alert-border-radius: var(--spacer-md);
  --alert-link-font-weight: 600;
  --alert-border-width: 2px;
  --alert-bg-level: -10;
  --alert-border-level: -9;
  --alert-color-level: 6;
  --alert-close-button-width: 50px;
  --alert-font-size: 1.5rem;
  --alert-bg: transparent;
  --alert-color: inherit;
  --alert-border-color: transparent;
}
