:root {
  --hr-border-top-color: #666;
  --hr-border-top-width: 1px;
  /*------------------------------
DEFAULT INTERFACE ELEMENT STYLES
------------------------------*/
  --general-asterisk-color: var(--primary);
  --general-asterisk-font-size: 36px;
  --general-asterisk-line-height: 0px;
  --general-asterisk-font-weight: var(--bold-font-weight);
  --general-asterisk-baseline-shift: -19px;

  --alternative-content-icon-max-width: 200px;
}
