@use 'sass:map';

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --gray-extra-light: #f3f3f3;
  --gray-light: #cccccc;
  --gray-medium: #999999;
  --gray-dark: #333333;
  --white: #ffffff;

  --primary-light: rgb(102, 175.8, 255);
  --secondary-light: rgb(163.2, 111.6, 247.2);
  --success-light: rgb(126, 202.2, 143.4);
  --info-light: rgb(115.8, 199.2, 212.4);
  --warning-light: rgb(253.8, 177.6, 114);
  --danger-light: rgb(234, 133.8, 143.4);
  --gray-extra-light-light: rgb(247.8, 247.8, 247.8);
  --gray-light-light: rgb(224.4, 224.4, 224.4);
  --gray-medium-light: rgb(193.8, 193.8, 193.8);
  --gray-dark-light: rgb(132.6, 132.6, 132.6);
  --white-light: white;
  --primary-extra-light: rgb(204, 228.6, 255);
  --secondary-extra-light: rgb(224.4, 207.2, 252.4);
  --success-extra-light: rgb(212, 237.4, 217.8);
  --info-extra-light: rgb(208.6, 236.4, 240.8);
  --warning-extra-light: rgb(254.6, 229.2, 208);
  --danger-extra-light: rgb(248, 214.6, 217.8);
  --gray-extra-light-extra-light: rgb(252.6, 252.6, 252.6);
  --gray-light-extra-light: rgb(244.8, 244.8, 244.8);
  --gray-medium-extra-light: rgb(234.6, 234.6, 234.6);
  --gray-dark-extra-light: rgb(214.2, 214.2, 214.2);
  --white-extra-light: white;
  --primary-dark: rgb(0, 104.55, 216.75);
  --secondary-dark: rgb(86.7, 13.6, 205.7);
  --success-dark: rgb(34, 141.95, 58.65);
  --info-dark: rgb(19.55, 137.7, 156.4);
  --warning-dark: rgb(215.05, 107.1, 17);
  --danger-dark: rgb(187, 45.05, 58.65);
  --gray-extra-light-dark: rgb(206.55, 206.55, 206.55);
  --gray-light-dark: rgb(173.4, 173.4, 173.4);
  --gray-medium-dark: rgb(130.05, 130.05, 130.05);
  --gray-dark-dark: rgb(43.35, 43.35, 43.35);
  --white-dark: rgb(216.75, 216.75, 216.75);
  --primary-extra-dark: rgb(0, 49.2, 102);
  --secondary-extra-dark: rgb(40.8, 6.4, 96.8);
  --success-extra-dark: rgb(16, 66.8, 27.6);
  --info-extra-dark: rgb(9.2, 64.8, 73.6);
  --warning-extra-dark: rgb(101.2, 50.4, 8);
  --danger-extra-dark: rgb(88, 21.2, 27.6);
  --gray-extra-light-extra-dark: rgb(97.2, 97.2, 97.2);
  --gray-light-extra-dark: rgb(81.6, 81.6, 81.6);
  --gray-medium-extra-dark: rgb(61.2, 61.2, 61.2);
  --gray-dark-extra-dark: rgb(20.4, 20.4, 20.4);
  --white-extra-dark: #666666;
  --primary-mildly-dark: rgb(0, 116.85, 242.25);
  --secondary-mildly-dark: rgb(96.9, 15.2, 229.9);
  --success-mildly-dark: rgb(38, 158.65, 65.55);
  --info-mildly-dark: rgb(21.85, 153.9, 174.8);
  --warning-mildly-dark: rgb(240.35, 119.7, 19);
  --danger-mildly-dark: rgb(209, 50.35, 65.55);
  --gray-extra-light-mildly-dark: rgb(230.85, 230.85, 230.85);
  --gray-light-mildly-dark: rgb(193.8, 193.8, 193.8);
  --gray-medium-mildly-dark: rgb(145.35, 145.35, 145.35);
  --gray-dark-mildly-dark: rgb(48.45, 48.45, 48.45);
  --primary-mildly-light: rgb(153, 202.2, 255);
  --secondary-mildly-light: rgb(193.8, 159.4, 249.8);
  --success-mildly-light: rgb(169, 219.8, 180.6);
  --info-mildly-light: rgb(162.2, 217.8, 226.6);
  --warning-mildly-light: rgb(254.2, 203.4, 161);
  --danger-mildly-light: rgb(241, 174.2, 180.6);
  --gray-extra-light-mildly-light: rgb(250.2, 250.2, 250.2);
  --gray-light-mildly-light: rgb(234.6, 234.6, 234.6);
  --gray-medium-mildly-light: rgb(214.2, 214.2, 214.2);
  --gray-dark-mildly-light: rgb(173.4, 173.4, 173.4);
  --white-mildly-light: white;

  --primary: var(--blue);
  --secondary: var(--indigo);
  --success: var(--green);
  --info: var(--cyan);
  --warning: var(--orange);
  --danger: var(--red);
  --light: var(--gray-light);
  --dark: var(--gray-dark);

  --button-theme-colors: var(--theme-colors);

  --yiq-text-dark: #222;
  --yiq-text-light: #fff;

  --svg-foreground-graphic-fill: #fff;
  --svg-foreground-graphic-stroke-color: #fff;
}

$yiq-light-text: (
  '--primary',
  '--secondary',
  '--success',
  '--info',
  '--warning',
  '--danger',
  '--gray-medium',
  '--gray-dark'
);

$yiq-dark-text: ('--gray-extra-light', '--gray-light', '--white');

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;
// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 160;
// Customize the light and dark text colors for use in our YIQ color contrast function.

$theme-colors: () !default;
$theme-colors: map.merge(
  (
    'primary': --primary,
    'secondary': --secondary,
    'success': --success,
    'info': --info,
    'warning': --warning,
    'danger': --danger,
    'gray-extra-light': --gray-extra-light,
    'gray-light': --gray-light,
    'gray-medium': --gray-medium,
    'gray-dark': --gray-dark,
    'white': --white,
  ),
  $theme-colors
);

@debug $theme-colors;

$overlay-levels: 10, 30, 50, 80;

$overlay-colors: ();
$overlay-colors: map.merge(
  (
    'black': '0,0,0',
    'white': '255,255,255',
  ),
  $overlay-colors
);
