body,
.docs-rounded {
  font-size: 1.6rem !important;
}

.docs-h1,
.docs-h1 a,
.docs-md__h1,
.docs-md__h1 a {
  font-size: calc(2.25rem * 1.6);
}

.docs-md__h2,
.docs-h2,
.docs-md__h2 a,
.docs-h2 a {
  font-size: calc(1.5rem * 1.6);
}

.docs-md__h3,
.docs-h3,
.docs-md__h3 a,
.docs-h3 a {
  font-size: calc(1.375rem * 1.6);
}

.docs-text-xxs {
  font-size: calc(0.75rem * 1.6);
}

.docs-text-xs {
  font-size: calc(0.875rem * 1.6);
}

.docs-text-sm {
  font-size: calc(0.9375rem * 1.6);
}

.docs-text-base {
  font-size: calc(1rem * 1.6);
}

.docs-text-large-1 {
  font-size: calc(1.125rem * 1.6);
}

.docs-text-large-2 {
  font-size: calc(1.25rem * 1.6);
}

.docs-text-large-3 {
  font-size: calc(1.375rem * 1.6);
}

.docs-text-large-4 {
  font-size: calc(1.5rem * 1.6);
}

.docs-text-large-5 {
  font-size: calc(1.875rem * 1.6);
}

.docs-text-large-6 {
  font-size: calc(2.25rem * 1.6);
}

.docs-text-large-7 {
  font-size: calc(2.625rem * 1.6);
}

.docs-text-jumbo-1 {
  font-size: calc(3.75rem * 1.6);
}

.docs-text-jumbo-2 {
  font-size: calc(4.625rem * 1.6);
}

.docs-text-jumbo-3 {
  font-size: calc(5.375rem * 1.6);
}

.md\:docs-w-1 {
  width: calc(0.25rem * 1.6);
}

.md\:docs-w-2 {
  width: calc(0.5rem * 1.6);
}

.md\:docs-w-3 {
  width: calc(0.75rem * 1.6);
}

.md\:docs-w-4 {
  width: calc(1rem * 1.6);
}

.md\:docs-w-6 {
  width: calc(1.5rem * 1.6);
}

.md\:docs-w-8 {
  width: calc(2rem * 1.6);
}

.md\:docs-w-10 {
  width: calc(2.5rem * 1.6);
}

.md\:docs-w-12 {
  width: calc(3rem * 1.6);
}

.md\:docs-w-16 {
  width: calc(4rem * 1.6);
}

.md\:docs-w-24 {
  width: calc(6rem * 1.6);
}

.md\:docs-w-32 {
  width: calc(8rem * 1.6);
}

.md\:docs-w-48 {
  width: calc(12rem * 1.6);
}

.md\:docs-w-56 {
  width: calc(14rem * 1.6);
}

.md\:docs-w-64 {
  width: calc(16rem * 1.6);
}

.md\:docs-w-72 {
  width: 288px !important;
}

.md\:docs-w-76 {
  width: calc(19rem * 1.6);
}
