:root {
  --brand-primary: #3490dc;
  --rem-adjustment: 0.625;
}

.esk-container {
  font-size: 10px;
  position: relative;
}
.esk-container header {
  position: absolute !important;
}
.esk-container code {
  background: transparent !important;
}
.esk-container .theme-icons-demo .viewport > div {
  margin-bottom: var(--spacer-lg);
  padding-bottom: var(--spacer-lg);
  border-bottom: 1px solid #ccc;
}
.esk-container .theme-icons-demo svg {
  max-width: 20px;
  max-height: 20px;
  display: inline-block;
  margin-right: var(--spacer-md);
}
.esk-container #example-list-group-colour-variants.viewport ul {
  list-style: none;
}
.esk-container #example-list-group-colour-variants.viewport ul li {
  margin-left: 0;
  padding-left: 0;
}
.esk-container #example-border-radius.viewport,
.esk-container #example-border-widths.viewport,
.esk-container #example-border-custom-colour-variants.viewport {
  display: flex;
  flex-wrap: wrap;
}
.esk-container #example-border-radius.viewport > div,
.esk-container #example-border-widths.viewport > div,
.esk-container #example-border-custom-colour-variants.viewport > div {
  background: var(--gray-extra) -light;
  margin: var(--spacer-md);
  padding: var(--spacer-md);
  font-family: var(--monospace-font-family);
}
.esk-container #example-border-radius.viewport > div {
  background: var(--gray-dark);
  color: var(--white);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--monospace-font-family);
}
.esk-container #example-border-custom-colour-variants.viewport {
  display: flex;
  flex-wrap: wrap;
}
.esk-container #example-border-custom-colour-variants.viewport > div {
  margin: var(--spacer-md);
  padding: var(--spacer-md);
}
.esk-container #example-overlay-colours-white.viewport,
.esk-container #example-overlay-colours-black.viewport,
.esk-container #example-custom-overlay-colours.viewport {
  padding: var(--spacer-xl);
  background: var(--gray-extra) -light;
  display: flex;
  flex-wrap: wrap;
}
.esk-container #example-overlay-colours-white.viewport > div,
.esk-container #example-overlay-colours-black.viewport > div,
.esk-container #example-custom-overlay-colours.viewport > div {
  padding: var(--spacer-lg);
  margin: var(--spacer-lg);
  font-family: var(--monospace-font-family);
}
.esk-container #example-overlay-colours-white.viewport {
  background: var(--gray-dark);
  color: #fff;
}
.esk-container .padding-examples.viewport > div {
  background: var(--gray-medium);
}
.esk-container .padding-examples.viewport > div > div {
  background: var(--gray-light);
  font-family: var(--monospace-font-family);
}
.esk-container .margin-examples.viewport {
  display: flex;
  flex-wrap: wrap;
}
.esk-container .margin-examples.viewport > div {
  background: var(--gray-light);
  padding: var(--spacer-lg);
  font-family: var(--monospace-font-family);
}
.esk-container .margin-examples.viewport.vertical > div {
  width: 100%;
}
.esk-container .height-width-demo .viewport > div {
  background: var(--gray-dark);
}
.esk-container .height-width-demo .viewport > div > div {
  background: var(--gray-light);
}
.esk-container .last-child-margin-bottom-0-demo.viewport > div {
  padding: var(--spacer-sm);
  background: var(--gray-dark);
}
.esk-container .last-child-margin-bottom-0-demo.viewport > div > div {
  background: var(--gray-light);
  padding: var(--spacer-md);
  font-family: var(--monospace-font-family);
}
.esk-container .card-box-shadow-example.viewport > div {
  margin-bottom: var(--spacer-lg);
  padding: var(--spacer-lg);
  border-radius: 3px;
  font-family: var(--monospace-font-family);
}
.esk-container .box-arrow-example.viewport > div,
.esk-container .box-arrow-bg-example.viewport > div {
  display: inline-flex;
  border: 1px solid var(--gray-medium);
  margin-bottom: var(--spacer-lg);
  padding: var(--spacer-xxl) var(--spacer-lg);
  border-radius: 3px;
  font-family: var(--monospace-font-family);
}
.esk-container .box-arrow-bg-example.viewport > div {
  color: #fff;
  border: 1px solid var(--gray-dark);
}
.esk-container .viewport .alert,
.esk-container .viewport .btn {
  margin-bottom: var(--spacer-md);
}

.layout-container .main-content {
  height: 200px;
}
.layout-container .viewport {
  padding: 0;
  border: 1px solid var(--gray-light);
}

/*@ sourceMappingURL=app.css.map*/
