:root {
  --brand-primary: #3490dc;
  --rem-adjustment: 0.625;
}

@import './scss/ember-skeleton-variables';

.ember-skeleton-styles {
  font-size: 10px;
  position: relative;
  header {
    position: absolute !important;
  }
  code {
    background: transparent !important;
  }
  @import './snippets/_pre-variables-import';
  // BEGIN-SNIPPET basic-style-imports.scss
  @import './scss/ember-skeleton-variables';
  @import './scss/ember-skeleton';
  // END-SNIPPET

  .theme-icons-demo {
    .viewport > div {
      margin-bottom: var(--spacer-lg);
      padding-bottom: var(--spacer-lg);
      border-bottom: 1px solid #ccc;
    }
    svg {
      max-width: 20px;
      max-height: 20px;
      display: inline-block;
      margin-right: var(--spacer-md);
    }
  }

  #example-list-group-colour-variants.viewport {
    ul {
      list-style: none;
      li {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

  #example-border-radius.viewport,
  #example-border-widths.viewport,
  #example-border-custom-colour-variants.viewport {
    display: flex;
    flex-wrap: wrap;
    & > div {
      background: var(--gray-extra)-light;
      margin: var(--spacer-md);
      padding: var(--spacer-md);
      font-family: var(--monospace-font-family);
    }
  }

  #example-border-radius.viewport {
    & > div {
      background: var(--gray-dark);
      color: var(--white);
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--monospace-font-family);
    }
  }

  #example-border-custom-colour-variants.viewport {
    display: flex;
    flex-wrap: wrap;
    & > div {
      margin: var(--spacer-md);
      padding: var(--spacer-md);
    }
  }

  #example-overlay-colours-white.viewport,
  #example-overlay-colours-black.viewport,
  #example-custom-overlay-colours.viewport {
    padding: var(--spacer-xl);
    background: var(--gray-extra)-light;
    display: flex;
    flex-wrap: wrap;
    & > div {
      padding: var(--spacer-lg);
      margin: var(--spacer-lg);
      font-family: var(--monospace-font-family);
    }
  }
  #example-overlay-colours-white.viewport {
    background: var(--gray-dark);
    color: #fff;
  }

  .padding-examples.viewport {
    > div {
      background: var(--gray-medium);
      > div {
        background: var(--gray-light);
        font-family: var(--monospace-font-family);
      }
    }
  }

  .margin-examples.viewport {
    display: flex;
    flex-wrap: wrap;
    > div {
      background: var(--gray-light);
      padding: var(--spacer-lg);
      font-family: var(--monospace-font-family);
    }
    &.vertical > div {
      width: 100%;
    }
  }

  .height-width-demo .viewport {
    > div {
      background: var(--gray-dark);
      > div {
        background: var(--gray-light);
      }
    }
  }

  .last-child-margin-bottom-0-demo.viewport {
    > div {
      padding: var(--spacer-sm);
      background: var(--gray-dark);
      > div {
        background: var(--gray-light);
        padding: var(--spacer-md);
        font-family: var(--monospace-font-family);
      }
    }
  }

  .card-box-shadow-example.viewport {
    & > div {
      margin-bottom: var(--spacer-lg);
      padding: var(--spacer-lg);
      border-radius: 3px;
      font-family: var(--monospace-font-family);
    }
  }

  .box-arrow-example.viewport,
  .box-arrow-bg-example.viewport {
    & > div {
      display: inline-flex;
      border: 1px solid var(--gray-medium);
      margin-bottom: var(--spacer-lg);
      padding: var(--spacer-xxl) var(--spacer-lg);
      border-radius: 3px;
      font-family: var(--monospace-font-family);
    }
  }

  .box-arrow-bg-example.viewport {
    & > div {
      color: #fff;
      border: 1px solid var(--gray-dark);
    }
  }
  .viewport {
    .alert,
    .btn {
      margin-bottom: var(--spacer-md);
    }
  }
}

.layout-container {
  .main-content {
    height: 200px;
  }
  .viewport {
    padding: 0;
    border: 1px solid var(--gray-light);
  }
}
