// Update the colours to match your site vars and then paste this into sassmeister playground to get he values for lighteend and darkened colours as Bootstrap would create them for bg-subtle and text-emphasis/border-subtle.

@use 'sass:color';
@use 'sass:map';

$primary: #32b1c6;
$secondary: #1c5e75;
$danger: #e85157;
$warning: #ec9643;
$success: #4da87d;
$info: #61c3d3;
$gray-extra-light: #f9f9f9;
$gray-light: #dddddd;
$gray-medium: #999999;
$gray-dark: #333333;

$theme-colors: ();
$theme-colors: map.merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'gray-extra-light': $gray-extra-light,
    'gray-light': $gray-light,
    'gray-medium': $gray-medium,
    'gray-dark': $gray-dark,
  ),
  $theme-colors
);
$levels: (5%, 10%, 15%, 20%, 25%, 30%, 35%, 40%);
@each $color, $value in $theme-colors {
  @each $level in $levels {
    @debug --#{$color}-lighten-#{$level};
    @debug color.adjust($value, $lightness: $level);
  }
}
$darkenLevels: (5%, 10%, 15%, 20%, 25%);
@each $color, $value in $theme-colors {
  @each $level in $darkenLevels {
    @debug --#{$color}-darken-#{$level};
    @debug color.adjust($value, $lightness: -1 * $level);
  }
}
