:root {
  --footer-background-colour: var(--gray-medium);

  --footer-info-color: #fff;
  --footer-info-font-style: normal;
  --footer-info-font-size: 1.3em;
  --footer-info-font-weight: 300;
  --footer-info-font-family: var(--main-font-family);
  --footer-info-text-transform: none;
  --footer-info-link-color: #fff;
  --footer-info-link-text-decoration: none;
  --footer-info-link-hover-color: #fff;
  --footer-info-link-hover-text-decoration: none;
}
