@use 'sass:map';

:root {
  --spacer-sm: 3px;
  --spacer-md: 6px;
  --spacer-lg: 12px;
  --spacer-mxl: 18px;
  --spacer-xl: 24px;
  --spacer-xxl: 36px;
}

$spacers: ();
$spacers: map.merge(
  (
    sm: --spacer-sm,
    md: --spacer-md,
    lg: --spacer-lg,
    mxl: --spacer-mxl,
    xl: --spacer-xl,
    xxl: --spacer-xxl,
  ),
  $spacers
);
