:root {
  --main-font-family: 'Arial', sans-serif;
  --body-color: #000;
  --bold-font-weight: 700;
  --page-header-font-size: 2.6em;
  --page-header-text-transform: none;
  --page-header-text-align: initial;
  --page-header-font-family: var(--main-font-family);
  --page-header-font-weight: var(--bold-font-weight);
  --page-header-margin-bottom: var(--spacer-xl);
  --page-header-line-height: 100%;
  --page-header-font-style: normal;
  --page-header-color: #666;

  --body-text-header-color: #555;
  --body-text-header-background-color: transparent;
  --body-text-header-text-transform: none;
  --body-text-header-text-align: left;
  --body-text-header-font-family: var(--main-font-family);
  --body-text-header-font-weight: var(--bold-font-weight);

  --body-text-header-margin-bottom: 0.8em;
  --body-text-header-font-style: normal;
  --body-text-header-h1-font-size: 2.6em;
  --body-text-header-h2-font-size: 2.3em;
  --body-text-header-h3-font-size: 2em;
  --body-text-header-h4-font-size: 1.7em;

  --body-text-font-size: 1.3rem;
  --body-text-line-height: 170%;
  --body-text-color: #555;
  --body-text-font-style: normal;
  --body-text-font-weight: 400;

  --body-text-list-style: disc;
  --body-text-paragraph-space-after: 1em;
  --body-text-paragraph-text-align: justify;
  --body-text-paragraph-line-height: 170%;

  --link-font-weight: var(--bold-font-weight);
  --link-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --link-text-decoration: none;
  --link-hover-color: var(--link-color);
  --link-hover-text-decoration: none;

  --text-column-line-height: 150%;
  --text-column-max-width: 700px;
  --text-column-justify-paragraph-min-width: 480px;

  --text-smaller-size: 0.9em;
  --text-larger-size: 1.2em;

  $monospace-font-family: 'Lucida Console', Monaco, 'Courier New', Courier,
    monospace;
}
